<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671089444021-ualcihjou2n273av27qil932cg7qlh82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671089444021-ualcihjou2n273av27qil932cg7qlh82</string>
	<key>API_KEY</key>
	<string>AIzaSyBnfrpA7_YHKFJgDxamG-DIHnT9OJYnwRc</string>
	<key>GCM_SENDER_ID</key>
	<string>671089444021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danyloternovoi.DaysTo</string>
	<key>PROJECT_ID</key>
	<string>daysto-6b581</string>
	<key>STORAGE_BUCKET</key>
	<string>daysto-6b581.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671089444021:ios:c8869585f278c733ccaafc</string>
</dict>
</plist>